<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413146444609-8v6ij555duir29al8ikka58d96uehnje.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413146444609-8v6ij555duir29al8ikka58d96uehnje</string>
	<key>API_KEY</key>
	<string>AIzaSyBPZKDvQzDWrBciZrWdSsSLpP3QQUeAXOY</string>
	<key>GCM_SENDER_ID</key>
	<string>413146444609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Vinpre.GoSocialFinal</string>
	<key>PROJECT_ID</key>
	<string>gosocialfinal</string>
	<key>STORAGE_BUCKET</key>
	<string>gosocialfinal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413146444609:ios:e741118706d3728540e7c0</string>
</dict>
</plist>